[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
hikari = {extras = ["speedups"]}
hikari-crescent = "*"
python-dotenv = "*"
uvloop = "*"
black = "*"
beautifulsoup4 = "*"
guesslang = {ref = "d3b55c255d1886bce96610c04cb9241afca6f9d4", git = "https://github.com/SimeonAleksov/guesslang.git"}

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
