[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiodns = "*"
cchardet = "*"
"discord.py" = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
